*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(59, 59, 237, 0.647);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 50%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card .leftBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: purple;
}
.card .rightBox{
    width: 50%;
    height: 100%;
    background-image: url(fingure-scanner-mantra-device-100-500x500.webp) ;
}
.statsBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card .leftBox #para1{
    padding-left: 25px;
    padding-right: 25px;
}
.card .leftBox h1{
    color: white;
}
.card .leftBox p{
    color: white;
}